{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    	<div class="section search-result-wrap">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="heading">Category: {{ title }}</div>
				</div>
			</div>
			<div class="row posts-entry">
				<div class="col-lg-12">
                    {% for post in posts %}
                        <div class="blog-entry d-flex blog-entry-search-item">
                            <a href="{{ post.get_absolute_url }}" class="img-link me-4">
                                <img src="{{ post.image.url }}" alt="Image" class="img-fluid">
                            </a>
                            <div>
                                <span class="date">{{ post.created }} &bullet; <a href="#">{{ post.category.name }}</a></span>
                                <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                                <p>{{ post.content|safe|linebreaks|truncatewords:30 }}</p>
                                <p><a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-outline-primary">Read More</a></p>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row text-start pt-5 border-top">
						<div class="col-md-12">
							<div class="custom-pagination">
                                {% if page_obj.has_other_pages %}
                                  <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                      <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                      {% if page_obj.number == i %}
                                        <li class="active"><span>{{ i }} </span></li>
                                      {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                      {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                      <li class="disabled"><span>&raquo;</span></li>
                                            {% endif %}
                                  </ul>
                                {% endif %}
                            </div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}