{% for post in latest_posts %}
    <div class="col-md-6 col-lg-3">
        <div class="blog-entry">
            <a href="{{ post.get_absolute_url }}" class="img-link">
                <img src="{{ post.image.url }}" alt="Image" class="img-fluid">
            </a>
            <span class="date">{{ post.created }}</span>
            <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <p>{{ post.content|safe|linebreaks|truncatewords:15 }}</p>
            <p><a href="{{ post.get_absolute_url }}" class="read-more">Continue Reading</a></p>
        </div>
    </div>
{% endfor %}